body{
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-image: url(./images/doodad.png);
    background-color: black;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    display: flex;
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}

#header, #intro, #about-me, #projects, #contacts, #footer{
    color: ghostwhite;
    padding: 0px 300px;
    margin: 0px;
    border: 0px;
}

/* header section */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo, .pages{
    display: flex;
    font-size: 24px;
}

.pages ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.pages a, a:visited, .logo a{
    text-decoration: none;
    color: ghostwhite;
}

/* intro section */
#intro{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #intro img{
    height: 500px;
} */

/* about me section */
#about-me{
    color: ghostwhite;
    display: flex;
}

.skills, .hobbies{
    flex: 1;
    padding: 0px;

}

/* footer section */
#footer{
    height: 50px;
    display: flex;
}